
title{
    background-color: brown;
    text-align: center;
}
h1{
    text-align:center;
}
dd{
    text-align: center;
}
img{
    margin-left: 200px;
    width: 900px;
    height: 650px;
}
dl{
    text-align: center;
}